{% include('header.html')%}
<html>
<head>
<link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}">
<script src="{{url_for('static',filename='menu.js')}}"></script>
</head>
<body onload='document.getElementsByName("course")[0].value="{{item.course}}"'>
<div id="menuHead"> <h1>Edit menu item: </h1></div></br>
<div class="menuPage" style="width:98%;margin:auto 0;">
<form action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id )}}" id='edit' method = 'POST'>

<p>Name:</p>

<input type='text' size='30' name='name' value='{{item.name}}'>

<p>Description:</p>

<input type='text' size='144' height="3" name='description' value='{{item.description}}'>

<p>Price:</p>

<input type='text' size='5' name='price' value='{{item.price}}'>

<p>Course:</p>
<select name="course">
<option value="Appetizer">Appetizer</option>
<option value="Soupsalad">Soup and Salad</option>
<option value="Entree">Entree</option>
<option value="Dessert">Dessert</option>
<option value="Drink">Drink</option>
</select>
</br></br>
<input type='submit'  onclick="return validateForm('edit');" value='Submit'><a href = "{{ url_for('showMenu', restaurant_id = restaurant_id)}}"> Cancel </a>

</form>
</div>

</body>
</html>

